/* HEADER */
:root {
    --thistle: #E5C6E8ff;
    --light-coral: #D98A89ff;
    --blue-gray: #5D9BE4ff;
    --tropical-indigo: #8B7EBFff;
    --tea-rose-red: #E4B8B4ff;
    --oxford-blue: #0C1F44ff;
    --powder-blue: #A8BAD4ff;
    --ash-gray: #D0D7C6ff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4eaef;
    color: #fff;
    padding: 20px;
}
  
  header a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    padding: 10px 15px;
}
  
  header a:hover {
    background-color: #ddd;
    color: black;
}
  
  header a.active {
    background-color: #6c63ff;
    color: white;
}
  
  header a.logo {
    height: 100%;
}

header .right {
    display: flex;
    gap: 10px;
    padding: 10px 30px;
    align-items: center;
    height: 100%;
}

/* BODY */

body {
    height: 100vh;
    background-color: #e4eaef;
}

/* COR DOS BOTÕES*/

.submit-button-active {
    background: #6c63ff;
    border-color: #6c63ff;
}

.submit-button-active:hover {
    background: #493cf9;
    border-color: #493cf9;
    color: #fff;
}

.submit-button {
    color: #6c63ff;
    border-color: #6c63ff;
}

.submit-button:hover {
    background: #6c63ff;
    color: #fff;
}
/* IMPUTS */


/* HOVER FORMULÁRIOS */
.cursos {
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    top: 0;
    position: relative; 
    background-color: #fff;
}

    .cursos:hover {
      top: -10px;
      -webkit-box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
}

.curso {
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    top: 0;
    position: relative;
    padding-left: 2rem;
    width: 60rem; 
    height: 20rem;
    padding-bottom: 21rem; 
}
    .curso:hover {
        top: -10px;
        -webkit-box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
}

.tools-account {
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    top: 0;
    position: relative;
    width: 50rem; 
    height: 25rem;
    padding-bottom: 2rem;
    background-color: #fff;
}

    .tools-account:hover {
      top: -10px;
      -webkit-box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
}

.new-course {
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    top: 0;
    position: relative;
    width: 50rem; 
    height: 32rem;
    padding-bottom: 3.5rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #fff;
}

    .new-course:hover {
      top: -10px;
      -webkit-box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
}

.login-cadastro {
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    top: 0;
    position: relative;
    width: 50rem; 
    height: 32rem;
    background-color: #fff;

}

    .login-cadastro:hover {
      top: -10px;
      -webkit-box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
}